<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NodeRS</title>
        <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/login.css">
        <link rel="stylesheet"
            href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    </head>
<body>
    
    <div class="login-container">
        
        <form action="#" class="login-form">

            <div class="login-label">
                <h2 class="login-header">
                    Node<span class="login-header-rs">RS</span>
                </h2>
            </div>

            <div class="login-form-username-container">
                <input type="text" class="login-username" placeholder="username">
                <i class="lar la-user login-form-username-icon"></i>
            </div>

            <div class="login-form-password-container">
                <input type="text" class="login-password" placeholder="password">
                <i class="las la-key login-form-password-icon"></i>
            </div>

            <div class="login-form-btn-container">
                <a href="#" class="login-submit-btn">
                    <span>
                        Login
                    </span>
                </a>
                <!-- <input type="submit" value="Login" class="login-submit-btn"> -->
            </div>

        </form>

        <div class="login-right-image-container">
            
        </div>
    </div>

</body>
</html>