<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="container-fluid">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">{{client}}</a>
        <input class="form-control form-control-dark w-100 d-flex" type="text" placeholder="Shell Command"
            aria-label="cmd">
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="#">Send File</a>
            </div>
        </div>
    </div>
</header>