<div class="recents">
    <h2 class="recent-header">
        
        recent workstations
    </h2>
    <ul class="recent-list">
        <li class="recent-list-item">
            <i class="las la-laptop"></i>
            computer A
        </li>
        <li class="recent-list-item">
            <i class="las la-laptop"></i>
            computer B
        </li>
        <li class="recent-list-item">
            <i class="las la-laptop"></i>
            computer C
        </li>
        <li class="recent-list-item">
            <i class="las la-laptop"></i>
            computer D
        </li>
        <li class="recent-list-item">
            <i class="las la-laptop"></i>
            computer E
        </li>
    </ul>
</div>