<div class="recents">
    <h2 class="recent-header">
        
        favourite workstations
    </h2>
    <ul class="recent-list" id="recent-list">
        {{#each user.favourites}}
        <li class="recent-list-item" id="{{this}}">
            <a class="text-decoration-none" href="javascript:{}" onclick="selectWorkstationModal('{{this}}')">
                <i class="las la-laptop"></i>
                {{this}}
            </a>
            <a class="float-right margin-right-2 text-decoration-none text-color-red" href="javascript:favouriteWorkstation('{{this}}')">
                <i class="las la-trash"></i>
            </a>
        </li>   
        {{/each}}
    </ul>
</div>