<div class="navigation">
    <ul class="navigation-list">
        <li class="navigation-list-item navigation-item-1">
            <form action="/users/logout" method="POST" id="logout-form">
                <a href="javascript:{}" onclick="document.getElementById('logout-form').submit();" class="navigation-list-item-link">
                    <i class="las la-sign-out-alt"></i>
                    Logout
                </a>
            </form>
        </li>
    </ul>
</div>