<div class="navigation">
    <div class="navigation-logo">
        <div class="navigation-logo-text">
            Node<span class="navigation-logo-rs">RS</span>
        </div>
    </div>
    <div class="navivation-header">
        <p class="navigation-heading">
            Navigation
        </p>
    </div>
    <ul class="navigation-list">
        <li class="navigation-list-item navigation-item-1">
            <a href="/" class="navigation-list-item-link">
                <i class="las la-home"></i>
                Home
            </a>
        </li>
        <li class="navigation-list-item navigation-item-2">
            <a href="/workstations" class="navigation-list-item-link">
                <i class="las la-server"></i>
                Workstations
            </a>
        </li>
        <li class="navigation-list-item navigation-item-4">
            <a href="/users" class="navigation-list-item-link">
                <i class="las la-user"></i>
                Users
            </a>
        </li>
    </ul>
</div>