<div class="main-container">
    <div class="user-container-wrapper">
        <div class="user-container">
            <div class="user-container-header">
                <div class="user-container-header-label">
                    User Management
                </div>
            </div>
            <div class="user-container-data">
                <table class="user-container-table">
                    <tr class="user-container-table-header">
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>SNikvand</td>
                        <td>
                            <a href="#" class="btn-margin-right btn btn-green">
                                <i class="las la-plus-circle"></i>
                                Reset Password
                            </a>
                            <a href="#" class="btn-margin-right btn btn-red">
                                <i class="las la-minus-circle"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>SNikvand</td>
                        <td>
                            <a href="#" class="btn-margin-right btn btn-green">
                                <i class="las la-plus-circle"></i>
                                Reset Password
                            </a>
                            <a href="#" class="btn-margin-right btn btn-red">
                                <i class="las la-minus-circle"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>SNikvand</td>
                        <td>
                            <a href="#" class="btn-margin-right btn btn-green">
                                <i class="las la-plus-circle"></i>
                                Reset Password
                            </a>
                            <a href="#" class="btn-margin-right btn btn btn-red">
                                <i class="las la-minus-circle"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="user-container user-container-last">
            <div class="user-container-header">
                <div class="user-container-header-label">
                    Add User
                </div>
            </div>
            <div class="user-container-data">
                <form action="" class="form-add-user">
                    <div class="form-add-user-text-container">
                        <input type="text" class="textfield" name="username" id="username" placeholder="username">
                    </div>
                    <div class="form-add-user-text-container">
                        <input type="password" class="textfield" name="password1" id="password1" placeholder="password">
                    </div>
                    <div class="form-add-user-text-container">
                        <input type="password" class="textfield" name="password2" id="password2" placeholder="password confirmation">
                    </div>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-green">submit</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>