<div class="main-container">
    <div class="user-container-wrapper">
        <div class="user-container">
            <div class="user-container-header">
                <div class="user-container-header-label">
                    User Management
                </div>
            </div>
            <div class="user-container-data">
                <table class="user-container-table">
                    <tr class="user-container-table-header">
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                    {{#each users}}
                    <tr id="{{_id}}">
                        <td>{{username}}</td>
                        <td>
                            <a href="javascript:deleteProfile('{{_id}}')" class="btn-margin-right btn btn-red">
                                <i class="las la-minus-circle"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="user-container user-container-last">
            <div class="user-container-header">
                <div class="user-container-header-label">
                    Add User
                </div>
            </div>
            <div class="user-container-data">
                <form action="/users" method="POST" class="form-add-user" id="form-add-user">
                    <div class="form-add-user-text-container">
                        <input type="text" class="textfield" name="username" id="username" placeholder="username">
                    </div>
                    <div class="form-add-user-text-container">
                        <input type="password" class="textfield" name="password" id="password" placeholder="password">
                    </div>
                    <div class="btn-wrapper">
                        <a href="javascript:{}" onclick="document.getElementById('form-add-user').submit();" class="btn btn-green">submit</a>
                    </div>
                    <input type="submit" hidden />
                </form>
            </div>
        </div>
    </div>

</div>