/* Login Form */

.login-container {
    width: 70rem;
    height: 60rem;
    background-color: $color-container;
    border-radius: .5rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
    margin: 0 auto;
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    display: flex;
    overflow: hidden;
}

.login-form {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10rem 1rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.login-label {
    /* margin: 2rem auto; */
    text-align: center;
}

.login-header {
    letter-spacing: .5rem;
    font-weight: 500;
    font-size: 3rem;
    color: #353535;
}

.login-header-rs {
    color: #3C6E71;
}

.login-form-username-container {
    width: 30rem;
    height: 5rem;
    margin: 0 auto;
    font-size: 2rem;
    position: relative;
}

.login-form-username-icon {
    position: absolute;
    font-size: 3rem;
    right: 1rem;
    top: 1rem;
    color: #ccc;
}

.login-form-password-container {
    margin: 0 auto;
    width: 30rem;
    height: 5rem;
    position: relative;
}

.login-form-password-icon {
    position: absolute;
    font-size: 3rem;
    right: 1rem;
    top: 1rem;
    color: #ccc;
}

.login-form-btn-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.login-submit-btn {
    width: 20rem;
    height: 5rem;
    background: #284B63;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-right-image-container {
    flex: 1 1 auto;
    background: url(../img/login.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(.2rem) grayscale(.4);
}
/* End of Login Form */